<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">     
			<param name="conversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%p] [%c:%L] [%t] [%X{userInfo}] %m%n" />     
		</layout>
	</appender>
	
	<!-- http://www.cnblogs.com/tankaixiong/archive/2013/03/08/2949857.html -->
	<logger name="org.springframework">
		<level value="INFO" />
	</logger>
	
	<logger name="com.alibaba.druid.pool" >
		<level value="INFO" />
	</logger>
	
	<logger name="org.directwebremoting" >
		<level value="INFO" />
	</logger>
	<logger name="org.directwebremoting.log.accessLog" >
		<level value="INFO" />
	</logger>
	
	<logger name="org.mybatis" >
		<level value="INFO" />
	</logger>
	<logger name="mybatis.mapper" >
		<level value="WARN" />
	</logger>
	
	<logger name="org.quartz" >
		<level value="WARN" />
	</logger>
	
	
	<logger name="java.sql.Connection" >
		<level value="WARN" />
	</logger>
	<logger name="java.sql.Statement" >
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.PreparedStatement" >
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.ResultSet" >
		<level value="DEBUG" />
	</logger>
	
	<logger name="log4jdbc.debug">
		<level value="INFO" />
	</logger>
	<logger name="jdbc.audit">
		<level value="OFF" />
	</logger>
	<logger name="jdbc.sqlonly">
		<level value="OFF" />
	</logger>
	<logger name="jdbc.sqltiming">
		<level value="INFO" />
	</logger>
	<logger name="jdbc.resultset">
		<level value="WARN" />
	</logger>
	<logger name="jdbc.connection">
		<level value="OFF" />
	</logger>
	<logger name="jdbc.transcation">
		<level value="INFO" />
	</logger>
	
	<logger name="org.apache.commons.httpclient">
		<level value="INFO" />
	</logger>
	<logger name="httpclient.wire">
		<level value="INFO" />
	</logger>
	
	
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>